<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CheminBatchSucces" value="batchExample.bat"/>
    <add key="cheminBatchRestart" value="batchRestart.bat"/>
    <add key="CheminBatchError" value="batchExampleError.bat"/>
    <add key="isFeatureLockScreen" value="false"/>  <!--true = oui, false = Ignoer Hotkeys-->
	<add key="ServerResponseTimeout" value="10"/>
	<add key="XmlRpcResponseTimeout" value="5"/>
	<!--<add key="RebootGSCApiURL" value="https://frparwebdev04.corp.pri/RebootGSCApi/"/>-->
	<add key="RebootGSCApiURL" value="https://localhost:44333/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
