<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="CheminBatchSucces" value="batchExample.bat"/>
    <add key="CheminBatchError" value="batchExampleError.bat"/>
    <add key="isFeatureLockScreen" value="false"/>  <!--true = oui, false = Ignoer Hotkeys-->

  </appSettings>
</configuration>